.App {
  text-align: center;
  background-color:#59b2e9;
  color: white;
  font-weight: 450;
  display:flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.card-body-today {
	background-color: rgba(255, 255, 255, 0.3);
	position: relative;
	border-radius: 5%;
	color: white;
	list-style-type: none;
	text-shadow: rgb(29, 29, 29) 1px 0 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.card-body-today li {
  margin-bottom: 10px;
}

.temperature_max {
	font-size: 40px;
	position: relative;
  display:flex;
	justify-content: space-around;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card-content-temp, .card-content-jour, .card-content-icone{
  display: inline-block;
  width: 100%;
  height: 3.5vh;
}

.card-body.hoverbody:hover{
background-color: rgba(255, 255, 255, 0.104);
border-radius: 20px;
padding: 5vh 0vw;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.Weather {
  width: 80%;
  height: 20vh;
  border: 1px solid rgba(255, 255, 255, 0.558);
  border-radius: 50px;
  margin: 2% 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.105);
}

@media screen and (max-width: 600px) {
  .Weather {
    height: auto;
    flex-direction: column;
    border-radius: 30px;
  }
  .card-body{
    margin: 2vh 0;
  }

  .card-body-today {
    width: 250px;
  }
  
}