.App {
  text-align: center;
  background-color:#59b2e9;
  color: white;
  font-weight: 450;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card-body{
  flex-direction: row;
}
.card-content{
  /* Position */
  display: inline-flex;
  /* flex-direction: column; */
  width: 33%;


  /* Texte */
  color: #FFF;
  text-shadow: -1.854285717010498px 2.781428575515747px 0.927142858505249px rgba(0, 0, 0, 0.10);
  font-family: Overpass;
  font-size: 16.689px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .card-body{
    display : flex;
    justify-content: space-around;
    margin:2Opx;

} */

/* .card-content{

  position
  position: relative ;
  display : inline-flex;
  margin : 50px;
  

} */