.App {
  text-align: center;
  background-color:#59b2e9;
  color: white;
  font-weight: 450;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.card-body-today {
	background-color: rgba(255, 255, 255, 0.3);
	position: relative;
	border-radius: 10%;
	color: white;
	list-style-type: none;
	text-shadow: rgb(29, 29, 29) 1px 0 10px;

}

.today {
	position: relative;

}

.temperature_max {
	font-size: 50px;
	position: relative;
	
}

.temperature_min, .precipitation, .windspeed {
	position: relative;

}

.windspeed {
	
}

.sunrise, .sunset {
	position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card-content{
  display: inline-block;
  width: 33%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

